<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">¡Bienvenidos a Descubre tu hobby!</h5>
        <p class="card-text">
            "Descubre tu Hobby" es una plataforma dinámica e innovadora creada para ayudar a las personas a descubrir y 
            explorar pasatiempos y actividades que se ajusten a sus intereses, ubicación y estilo de vida. 
            Nos enfocamos en facilitar a los usuarios la búsqueda y selección de diversos hobbies. 
            Además, ofrecemos un espacio interactivo que promueve la conexión entre personas con intereses afines, creando una comunidad vibrante.
        </p>
        <p class="card-text">
            Nuestra plataforma no solo beneficia a los entusiastas de los hobbies, sino que también ofrece a las empresas una 
            oportunidad única para promocionar sus servicios a un público segmentado y altamente interesado. Las empresas pueden 
            publicar actividades, cursos y eventos, maximizando su alcance y atrayendo a clientes potenciales de manera efectiva.
        </p>
        <p class="card-text">
            Nuestro objetivo es enriquecer la vida de los usuarios a través de descubrimientos significativos y fomentar 
            conexiones valiosas que mejoren tanto su bienestar personal como su integración social.
        </p>
      </div>
    </div>
  </div>
</div>
